.container-loader{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.container-loader > img{
    width: 10%;
    animation: spinning .7s linear infinite;
}

.container-loader > p{
    color: white;
}